<div class="row-fluid">
  <h3>You are learning Ruby on rails</h3>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="#/out-of-trial"><i class="icon-ok"></i>Todo</a></li>
        <li><a href="#/links"><i class="icon-file"></i>Links</a></li>
        <li><a href="#/books"><i class="icon-book"></i>Books</a></li>
        <li><a href="#/out-of-trial"><i class="icon-calendar"></i>Timeline</a></li>
      </ul>
    </div>
  </div>

  <hr/>

  <div class="hero-unit">
    <h1>Oppan Gangnam Style!</h1>
    <p>We are so sorry, but the functionality you were looking for is not a part of the trial. If you want to see more of augeBIT feel free to sign up.</p>
    <p>
    <a href="#/signup" class="btn btn-primary btn-large">
      Sign up
    </a>
    </p>
  </div>
  <img src="scripts/img/oppan.jpg"></img>
</div>
