<div class="jumbotron">
  <h1>Tech learning made simple</h1>
  <p class="lead">Learning a new technology can get really messy, really quickly. You focus on learning and coding. We take care of your books, links, projects and more.</p>
  <a class="btn btn-large btn-success" href="#/links">Try it for free!</a>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Links</h4>
    <p>Browse through the articles recommended by the community and submit the ones that you find useful.</p>

    <h4>Timeline</h4>
    <p>Visualize learning in your timeline and check out the expert's timelines to learn about their progress.</p>
  </div>

  <div class="span6">
    <h4>Books</h4>
    <p>Community curated books so you don't waste your time separating the great ones from the average ones.</p>

    <h4>Todo (or learn ;)</h4>
    <p>Have you found something interesting but don't have the time to do it now? Put it on your todo list so you don't forget about it.</p>
  </div>
</div>
