<div class="row-fluid">
  <h3>Learning Ruby on rails</h3>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="#/out-of-trial">Todo</a></li>
        <li><a href="#/links">Links</a></li>
        <li><a href="#/books">Books</a></li>
        <li><a href="#/out-of-trial">Timeline</a></li>
      </ul>
    </div>
  </div>

  <hr/>

  <div class="hero-unit">
    <h1>Oppa! Gangnam style!</h1>
    <p>The functionality you were looking for is not a part of the trial. If you want to see more of augeBIT feel free to sign up.</p>
    <p>
    <a href="#/signup" class="btn btn-primary btn-large">
      Sign up
    </a>
    </p>
  </div>
</div>
