<div class="row-fluid">
  <h3>Learning Ruby on rails</h3>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="#/todos">Todo</a></li>
        <li><a href="#/links">Links</a></li>
        <li><a href="#/books">Books</a></li>
        <li class="active"><a href="#/timeline">Timeline</a></li>
      </ul>
    </div>
  </div>

  <hr/>

  <h4>Timeline</h4>
  <p>This functionality is not a part of the trial. If you want to see more of augeBIT <a href="#/signup">feel free to sign up</a></p>
</div>
